@model Models.DepartmentModel

@{
    ViewBag.Title = ViewBag.title;
    Layout = "~/Views/Shared/AdminShared/_AdminLayout.cshtml";
}


<div class="content">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Department Form</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post">
            @Html.AntiForgeryToken()
            <div class="card-body">
                <div class="form-group row">
                    @Html.LabelFor(model => model.DeptName, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.DeptName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter department name" } })
                        @Html.ValidationMessageFor(model => model.DeptName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <p class='text-center text-danger'>@Html.ValidationMessage("customerror")</p>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-info">Submit</button>
                @Html.ActionLink("Back to List", "DepartmentList", "Department", new { @class = "float-right" })
            </div>
            <!-- /.card-footer -->
        </form>
    </div>
</div>



@section adminscripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}