@model IEnumerable<Models.StudentModel>

@{
    ViewBag.Title = ViewBag.title;
    Layout = "~/Views/Shared/AdminShared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">@ViewBag.title List</h3>
                </div>
                <div class="col-6 text-right">
                    @Html.ActionLink("Create New", "Create", "Student")
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div id="jsGrid1" class="jsgrid" style="position: relative; height: 100%; width: 100%;">
                <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                    <table class="jsgrid-table">
                        <tr class="jsgrid-header-row">
                            <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 150px;">@Html.DisplayNameFor(model => model.Name)</th>
                            <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 150px;">@Html.DisplayNameFor(model => model.Department)</th>
                            <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 150px;">@Html.DisplayNameFor(model => model.DateOfBirth)</th>
                            <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 100px;">Action</th>
                        </tr>
                    </table>
                </div>

                <div class="jsgrid-grid-body">
                    <table class="jsgrid-table">
                        <tbody>
                            @foreach (var student in Model)
                            {
                                <tr class="jsgrid-row">

                                    <td class="jsgrid-cell" style="width: 150px;">
                                        @Html.DisplayFor(modelItem => student.Name)
                                    </td>
                                    <td class="jsgrid-cell" style="width: 150px;">
                                        @Html.DisplayFor(modelItem => student.Department.DeptName)
                                    </td>
                                    <td class="jsgrid-cell" style="width: 150px;">
                                        @Html.DisplayFor(modelItem => student.DateOfBirth)
                                    </td>
                                    <td class="jsgrid-cell jsgrid-align-right" style="width: 100px;">
                                        @Html.ActionLink("Edit", "Edit", new { id = student.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = student.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = student.Id })
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="jsgrid-pager-container">
                    <div class="jsgrid-pager">
                        Pages: <span class="jsgrid-pager-nav-button jsgrid-pager-nav-inactive-button"><a href="javascript:void(0);">First</a></span>
                        <span class="jsgrid-pager-nav-button jsgrid-pager-nav-inactive-button"><a href="javascript:void(0);">Prev</a></span> <span class="jsgrid-pager-page jsgrid-pager-current-page">1</span>
                        <span class="jsgrid-pager-page"><a href="javascript:void(0);">2</a></span><span class="jsgrid-pager-page"><a href="javascript:void(0);">3</a></span><span class="jsgrid-pager-page"><a href="javascript:void(0);">4</a></span>
                        <span class="jsgrid-pager-page"><a href="javascript:void(0);">5</a></span> <span class="jsgrid-pager-nav-button"><a href="javascript:void(0);">Next</a></span>
                        <span class="jsgrid-pager-nav-button"><a href="javascript:void(0);">Last</a></span> &nbsp;&nbsp; 1 of 5
                    </div>
                </div>
                <div class="jsgrid-load-shader" style="display: none; position: absolute; inset: 0px; z-index: 1000;"></div>
                <div class="jsgrid-load-panel" style="display: none; position: absolute; top: 50%; left: 50%; z-index: 1000;">Please, wait...</div>
            </div>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>